$niceBlue: #1e88e5;
$whiteGrey: #eee;

.sliderControl {
	background-color: $whiteGrey;
  img {
    box-shadow: 0px 0px 2px 2px #aaa;
    &:hover {
      box-shadow: 0px 0px 2px 2px $niceBlue;
    }
  }
	#menuBtn {
		position: fixed;
		bottom: 25px;
		right: 20px;
		font-size: 2em;
		&:hover {
			cursor: pointer;
		}
	}
	#menuContainer {
		position: fixed;
		display: none;
		bottom: 80px;
		right: 0px;
		width: 200px;
		height: 250px;
		background-color: rgba(0,0,0,.85);
		border: 1px solid #333;
		ul {
			list-style: none;
			margin: 20px;
			a {
				font-size: 1.3em;
				font-family: sans-serif;
				color: $whiteGrey;
				text-decoration: none;
				cursor: pointer;
				span.lnr {
					margin-right: 10px;
					color: #aaa;
				}
			}
		}
	}
}
